body {
  font-family: "PT Sans", sans-serif;
  background: #eee;

/*
  color: #93a4aa;*/
}
h2{
  font-family: "Pt sans narrow", sans-serif;
}
img {
  max-width: 100%;
  height:auto;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;

}


$main:#f1c40f;
