.shelters{
  margin-top: 75px;

  & img{
    height: 250px;
    @mixin atSmall{
      height: 350px;
      width: 100%;
    }


  }
  & p{
    padding-top:5px;
    color: rgba(#000, .5);
    font-size: .75em;
    @mixin atSmall{
      font-size: 1em;
    }
  }
  & .title{
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
  }

  & ul{
    padding-left:20px;
  }
}
